@font-face {
  font-family: 'titleText';
  src: url('/font/ithornat-webfont.eot');
  src: url('/font/ithornat-webfont.eot?#iefix') format('embedded-opentype'), url('/font/ithornat-webfont.woff') format('woff'), url('/font/ithornat-webfont.ttf') format('truetype'), url('/font/ithornat-webfont.svg#ithornetregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background: url(/img/AFRIKATEMBO_BACKGROUNDPICTURE-2.jpg) no-repeat right center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 18px;
}
hr {
  border-color: #4d4d4d;
  opacity: 0;
}
h2 {
  font-size: 40px;
}
h6 {
  font-size: 14px;
  color: orange;
}
a, a:hover, a:visited, a:active {
  color: #ffffff;
  text-decoration: none;
}
a:-webkit-any-link {
  text-decoration: none;
  color: #ffffff;
}
.titleText {
  font-family: "Futura-CondensedMedium", sans-serif;
  font-size: 84px;
  letter-spacing: 15px;
  color: #000000;
  margin-top: 50px;
}
.titleText small {
  font-family: font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #3c3c3c;
}
.subTitleText {
  font-family: "Futura-Medium", sans-serif;
  color: #000000;
  font-size: 24px;
  letter-spacing: -1.5px;
  margin-top: -13px;
  margin-left: 17px;
}
.landing-blurb {
  background-color: rgba(255,188,0,0.4);
  padding: 25px 10px 0px 10px;
  margin: 5px 0 10px 0;
  font-size: 18px;
  line-height: 20px;
  text-align: justify;
  color: #000000;
}
.jobs-grid .form-group {
  margin-top: 20px;
  margin-bottom: 5px;
}
.form-group label {
  line-height: 20px;
}
.tt {
  cursor: pointer;
}
.progress {
  background: #4d4d4d;
}
.progress-bar-info {
  background-color: #ccffcc;
 }
.navbar-inverse {
  background: rgba(34, 34, 34, 0.9);
}
#food {
  max-height: 400px;
  overflow-y: scroll;
}
#food ul li {
  color: #ccffcc;
  font-size: 16px;
}
.blue {
  color: #ccffcc !important;
}
.red {
  color: #f3266f !important;
}
.hold-on {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 10px;
  color: #000000;
  opacity: 0;
  width: 220px;
}
.food-input {
  margin-bottom: 10px;
}
.btn:focus {
  outline: none;
}
#errors {
  background: repeating-linear-gradient(
    45deg,
    rgba(163, 0, 12,0.3),
    rgba(163, 0, 12,0.3) 1px,
    #D3000F 5px,
    #D3000F 10px
  );
  color: #ffffff;
  font-size: 14px;
  pointer-events: none;
  padding: 10px;
  font-weight: bold;
}
.price {
  color: #ccffcc;
}
.price small {
  font-size: 10px;
  color: #979797;
}
.alpaca {
  width: 100%;
  height: auto;
  position: relative;
  top: 20px;
}
.well {
  background: black;
  border-color: #222222;
}
.li-previousView {
  margin-right: 10px;
}
.btn.btn-primary {
  width: 92px;
  color: #000000;
  background-color: rgba(0,0,0,0);
  border: 3px solid #000000;
  border-radius: 0;
}
.btn.btn-primary a {
  color: #222222;
  text-decoration: none;
}
.btn.btn-primary:hover {
  background: #eea236;
}
.btn-warning {
  width: 180px;
  color: #ffffff;
  background-color: rgba(255,188,0,0.5);
  border-color: none;
  border-radius: 0;
}
.wizard-contents {
  background: rgba(34, 34, 34, 0);
  border-radius: 5px;
  padding: 20px;
}
.wizard-contents h3,
.wizard-contents h4,
.wizard-contents p,
.wizard-contents label {
  color: #000000;
  font-size: 21px;
  font-weight: 300;
}
.form-control {
  background: rgba(0,0,0,0);
  border-bottom: 3px solid #000000 !important;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #000000;
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

}
.bwizard {
  position: relative;
}
.bwizard .well {
  margin: 3px 0;
}
.bwizard-steps {
  margin: 0 0 0 -45px;
  padding: 0;
  display: inline-block;
  background: transparent;
}
@media (min-width: 400px) {
  .bwizard-steps {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .bwizard-steps {
    margin: 0 0 0 -45px;
  }
}
.bwizard-steps li {
  display: inline-block;
  position: relative;
  margin: 5px 5px 5px 0;
  line-height: 18px;
  list-style: none;
  padding: 12px 17px 10px 30px;
  zoom: 1;
  *display: inline;
  *padding-left: 17px;
}
.bwizard-steps li:first-child {
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  padding-left: 12px;
}
.bwizard-steps li:first-child:before {
  border: none;
}
.bwizard-steps li:last-child {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}
.bwizard-steps li:last-child:after {
  border: none;
}
.bwizard-steps li:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  content: "";
}
.bwizard-steps li:after {
  position: absolute;
  right: -20px;
  top: 0;
  height: 0;
  width: 20px;
  content: "";
  z-index: 1;
}
.bwizard-steps .label {
  margin: 0 5px 0 0;
  padding: 2px 5px 2px;
  position: relative;
  top: -1px;
  color: #000000;
  font-size: 26px;
  font-weight: 300;
}
.bwizard-steps .active {
  color: #fff;
}
.bwizard-steps .active .label {
  color: #000000;
  font-weight: bold;
}
.bwizard-steps .active:after {
}
.bwizard-steps a {
  color: #000000;
  font-size: 26px;
  font-weight: 300;
}
.bwizard-steps .active a {
  color: #222222;
  cursor: default;
  font-weight: bold;
  font-size: 26px;
}
.bwizard-steps a:hover {
  text-decoration: none;
}
.bwizard-steps.clickable li:not(.active) {
  cursor: pointer;
}
.bwizard-steps.clickable li:hover:not(.active) {
  background: #cccccc;
}
.bwizard-steps.clickable li:hover:not(.active) a {
  color: #ffffff;
}
.bwizard-steps.clickable li:hover:not(.active):after {
  border-left-color: #cccccc;
}
@media (max-width: 607px) {
  .bwizard-steps li {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 4px!important;
    padding-left: 12px;
  }
  .bwizard-steps li:after,
  .bwizard-steps li:before {
    border: none;
  }
}
.footer {
  background-color: rgba(100,100,100,0.9);
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 5px 0 5px 0;
}
.footer p {
  padding: 0;
  margin: 0;
}
.footer a {
  text-decoration: underline;
  font-size: 14px;
  color: #000000;
  padding: 0;
  margin: 0;
}
.wizard-contents .details-description {
  font-size: 16px;
  color: #ffffff;
  padding: 10px;
  margin: 0;
  min-height: 178px;
}
.wizard-contents .job-description {
  font-size: 16px;
  color: #ffffff;
  padding: 10px;
  margin: 0;
  min-height: 168px;
}
.donate-box {
  font-size: 16px;
  color: #ffffff;
  padding: 10px;
}
.wizard-contents .pay-description {
  font-size: 16px;
  color: #ffffff;
  padding: 10px;
  margin: 0;
}
@media (min-width: 992px) {
  .wizard-contents .pay-description {
    max-height: 283px;
  }
}
@media (min-width: 768px) {
  .wizard-contents .pay-description {
    height: 397px;
  }
}

