<div class="wizard-view">

    <hr>

    <div class="row">

        <div class="col-xs-12 col-sm-6">
            <form role="form">
                <div class="form-group">
                    <input type="text" class="form-control" id="party-name" placeholder="Name of your Party">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Best Email to Contact You">
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="number" class="form-control" id="num-adults" placeholder="Number of Adults">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="number" class="form-control" id="num-kids" placeholder="Number of Kids">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-sm-offset-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="age-kids" placeholder="Age of Kids">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-xs-12 col-sm-6">
            <h6>Please create one RSVP per party. Please fill out all required fields in order to receive your confirmation email. Thank you!</h6>

            <p>Your confirmation will be sent to the email you provide. Your information will not be distributed in any way.</p>

        </div>
    </div>

    <form>

    </form>

</div>
