<div class="wizard-view">

    <hr>


    <div class="row" style="background-color: rgba(255,188,0,0.6);">

        <div class="col-xs-12 col-sm-6 col-md-6" style="padding:15px;">
            <form role="form">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">    
                        <label for="first-name" style="white-space: nowrap;">First Name</label>
                        <div class="form-group">
                            <input type="text" class="form-control" id="first-name">
                        </div>
                    </div>  
                    <div class="col-xs-12 col-sm-6 col-md-6">    
                        <label for="last-name" style="white-space: nowrap;">Last Name</label>
                        <div class="form-group">
                            <input type="text" class="form-control" id="last-name">
                        </div>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">    
                        <label for="email" style="white-space: nowrap;">Email</label>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email">
                        </div>
                    </div>  
                </div>
            </form>
        </div>
        
        <div class="col-xs-12 col-sm-6" style="background-color:rgba(171,69,0,0.6);padding:10px;">

            <p class="details-description">Welcome to our donation platform, please be sure to fill out all fields and choose a donation amount in order to be approved, thank you.</p>

        </div>

    </div>

</div>
