<div class="wizard-view">

    <hr>

    <h3>Activate:</h3>

    <hr>

    <div class="row">

        <form role="form">
            <div class="col-xs-12 col-sm-3">

                <div class="form-group">
                    <% if(pointman === 0) { %>
                        <input type="radio" name="jobs" id="pointman" disabled>
                         <label data-message="Be responsible for the temple looking the same when we leave as when we got there. Take pictures of temple and closets containing matts, pillows, and blankets before we start set up so that you can reference them at the end of breakdown and return everything to the right place." data-title="Point Person" class="tt red" for="pointman">Point Person* (<%= pointman %>)</label>
                    <% } else { %>
                        <input type="radio" name="jobs" id="pointman">
                         <label data-message="Be responsible for the temple looking the same when we leave as when we got there. Take pictures of temple and closets containing matts, pillows, and blankets before we start set up so that you can reference them at the end of breakdown and return everything to the right place." data-title="Point Person" class="tt" for="pointman">Point Person* (<%= pointman %>)</label>
                    <% } %>

                </div>

                <div class="form-group">
                    <% if(altar === 0) { %>
                        <input type="radio" name="jobs" id="altar" disabled>
                        <label data-message="Assist with creating a beautiful, magical, seasonally inspired altar in the middle of the temple. You will also place candles throughout the space and light them at sundown." data-title="Altar" class="tt red" for="altar">Altar* (<%= altar %>)</label>
                    <% } else { %>
                        <input type="radio" name="jobs" id="altar">
                        <label data-message="Assist with creating a beautiful, magical, seasonally inspired altar in the middle of the temple. You will also place candles throughout the space and light them at sundown." data-title="Altar" class="tt" for="altar">Altar* (<%= altar %>)</label>
                    <% } %>

                </div>

                <div class="form-group">
                    <% if(dinnerPrep === 0) { %>
                        <input type="radio" name="jobs" id="dinnerPrep" disabled>
                        <label data-message="Help set up dinner, select from what food people have brought, and prepare a couple of large dishes (dal, soup, etc.) for all to enjoy. Please bring the necessary ingredients to make your dish. Coordinate with other helpers to have dinner ready by sundown. For the light dinner please no meat, dairy, or anything that will unsettle the stomach." data-title="Dinner Preparation" class="tt red" for="dinnerPrep">Dinner Preparation* (<%= dinnerPrep %>)</label>
                    <% } else { %>
                        <input type="radio" name="jobs" id="dinnerPrep">
                        <label data-message="Help set up dinner, select from what food people have brought, and prepare a couple of large dishes (dal, soup, etc.) for all to enjoy. Please bring the necessary ingredients to make your dish. Coordinate with other helpers to have dinner ready by sundown. For the light dinner please no meat, dairy, or anything that will unsettle the stomach." data-title="Dinner Preparation" class="tt" for="dinnerPrep">Dinner Preparation* (<%= dinnerPrep %>)</label>
                    <% } %>

                </div>

                <div class="form-group">
                    <% if(dinnerClean === 0) { %>
                        <input type="radio" name="jobs" id="dinnerClean" disabled>
                         <label data-message="Clean up after dinner! Encourage everyone to wash their own dishes. Put away all of the food, wash dishes, and wipe down counters." data-title="Dinner Cleanup" class="tt red" for="dinnerClean">Dinner Clean Up* (<%= dinnerClean %>)</label>
                    <% } else { %>
                        <input type="radio" name="jobs" id="dinnerClean">
                         <label data-message="Clean up after dinner! Encourage everyone to wash their own dishes. Put away all of the food, wash dishes, and wipe down counters." data-title="Dinner Cleanup" class="tt" for="dinnerClean">Dinner Clean Up* (<%= dinnerClean %>)</label>
                    <% } %>

                </div>

                <div class="form-group">
                    <% if(brunchPrep === 0) { %>
                        <input type="radio" name="jobs" id="brunchPrep" disabled>
                        <label data-message="Help set up brunch, select from what food people have brought, and prepare a couple of large dishes (scramble, breakfast burritos, etc.) for all to enjoy. Please bring the necessary ingredients to make your dish. Coordinate with other helpers to have brunch ready by 11 am." data-title="Brunch Preparation" class="tt red" for="brunchPrep">Brunch Preparation (<%= brunchPrep %>)</label>
                    <% } else { %>
                        <input type="radio" name="jobs" id="brunchPrep">
                        <label data-message="Help set up brunch, select from what food people have brought, and prepare a couple of large dishes (scramble, breakfast burritos, etc.) for all to enjoy. Please bring the necessary ingredients to make your dish. Coordinate with other helpers to have brunch ready by 11 am." data-title="Brunch Preparation" class="tt" for="brunchPrep">Brunch Preparation (<%= brunchPrep %>)</label>
                    <% } %>
                </div>

                <div class="form-group">
                    <% if(brunchClean === 0) { %>
                        <input type="radio" name="jobs" id="brunchClean" disabled>
                         <label data-message="Clean up post brunch on Sunday and encourage everyone to wash their dishes. Pack up and distribute any extra food or unused produce. Make sure all dishes are dried and put away, counters are wiped down, and that the dining room and kitchen are spotless before we all head back to the city!" data-title="Brunch Cleanup" class="tt red" for="brunchClean">Kitchen and General Clean Up (<%= brunchClean %>)</label>
                    <% } else { %>
                        <input type="radio" name="jobs" id="brunchClean">
                         <label data-message="Clean up post brunch on Sunday and encourage everyone to wash their dishes. Pack up and distribute any extra food or unused produce. Make sure all dishes are dried and put away, counters are wiped down, and that the dining room and kitchen are spotless before we all head back to the city!" data-title="Brunch Cleanup" class="tt" for="brunchClean">Kitchen and General Clean Up (<%= brunchClean %>)</label>
                    <% } %>

                </div>

            </div>

            <div class="col-xs-12 col-sm-3">

                <div class="form-group">
                    <% if(musicSetup === 0) { %>
                        <input type="radio" name="jobs" id="musicSetup" disabled>
                        <label data-message="Carry sound system equipment and instruments to temple, coordinate with musicians on placement and wiring." data-title="Music Setup" class="tt red" for="musicSetup">Music Setup* (<%= musicSetup %>)</label>
                    <% } else { %>
                        <input type="radio" name="jobs" id="musicSetup">
                        <label data-message="Carry sound system equipment and instruments to temple, coordinate with musicians on placement and wiring." data-title="Music Setup" class="tt" for="musicSetup">Music Setup* (<%= musicSetup %>)</label>
                    <% } %>

                </div>

                <div class="form-group">
                    <% if(templeSetup === 0) { %>
                        <input type="radio" name="jobs" id="templeSetup" disabled>
                         <label data-message="Help set up the temple with pillows, blankets, matts, and all cozy things stored downstairs." data-title="Temple Setup" class="tt red" for="templeSetup">Temple Setup* (<%= templeSetup %>)</label>
                    <% } else { %>
                        <input type="radio" name="jobs" id="templeSetup">
                         <label data-message="Help set up the temple with pillows, blankets, matts, and all cozy things stored downstairs." data-title="Temple Setup" class="tt" for="templeSetup">Temple Setup* (<%= templeSetup %>)</label>
                    <% } %>

                </div>

                <div class="form-group">
                    <% if(snackPrep === 0) { %>
                        <input type="radio" name="jobs" id="snackPrep" disabled>
                        <label data-message="Using the food that everyone has brought create a nice spread of snacks for everyone to enjoy in the late hours of the night and during the event. Plan to arrive early to prep and have everything ready and set up in the dining room before we gather in the temple at sun down. Please make sure everything is covered in saran wrap and leave a note clarifying that this spread is reserved for later! Please no meat, dairy, or anything that will unsettle the stomach. Examples: organic fruit salad with mint and lemon, guacamole and chips, tabbouleh, nuts and dried fruits, herbal teas, raw organic chocolate, bread, avocado, nut butters, honey etc." data-title="Midnight Snack Preparation" class="tt red" for="snackPrep">Midnight Snack Preparation (<%= snackPrep %>)</label>
                    <% } else { %>
                        <input type="radio" name="jobs" id="snackPrep">
                        <label data-message="Using the food that everyone has brought create a nice spread of snacks for everyone to enjoy in the late hours of the night and during the event. Plan to arrive early to prep and have everything ready and set up in the dining room before we gather in the temple at sun down. Please make sure everything is covered in saran wrap and leave a note clarifying that this spread is reserved for later! Please no meat, dairy, or anything that will unsettle the stomach. Examples: organic fruit salad with mint and lemon, guacamole and chips, tabbouleh, nuts and dried fruits, herbal teas, raw organic chocolate, bread, avocado, nut butters, honey etc." data-title="Midnight Snack Preparation" class="tt" for="snackPrep">Midnight Snack Preparation (<%= snackPrep %>)</label>
                    <% } %>

                </div>

                <div class="form-group">
                    <% if(musicBreakdown === 0) { %>
                        <input type="radio" name="jobs" id="musicBreakdown" disabled>
                         <label data-message="You will carry the musicians' instrument from their cars to the temple on Saturday, and back from the temple to their cars on Sunday. You will be on-hand to help musicians with set up and breakdown. Additionally, you will bring the sound system from the house to the temple and, on Sunday, take it back to the house. Please plan on arriving by 2pm on Saturday and not leaving earlier than 2pm on Sunday." data-title="Music Breakdown" class="tt red" for="musicBreakdown">Music Breakdown (<%= musicBreakdown %>)</label>
                    <% } else { %>
                        <input type="radio" name="jobs" id="musicBreakdown">
                         <label data-message="You will carry the musicians' instrument from their cars to the temple on Saturday, and back from the temple to their cars on Sunday. You will be on-hand to help musicians with set up and breakdown. Additionally, you will bring the sound system from the house to the temple and, on Sunday, take it back to the house. Please plan on arriving by 2pm on Saturday and not leaving earlier than 2pm on Sunday." data-title="Music Breakdown" class="tt" for="musicBreakdown">Music Breakdown (<%= musicBreakdown %>)</label>
                    <% } %>

                </div>

                <div class="form-group">
                    <% if(templeBreakdown === 0) { %>
                        <input type="radio" name="jobs" id="templeBreakdown" disabled>
                        <label data-message="Coordinate with the Point Person to make sure pillows, blankets, and matts are returned to their right place. Remove any garbage, sweep the floor, and help consolidate misplaced items etc." data-title="Temple Breakdown" class="tt red" for="templeBreakdown">Temple Breakdown (<%= templeBreakdown %>)</label>
                    <% } else { %>
                        <input type="radio" name="jobs" id="templeBreakdown">
                        <label data-message="Coordinate with the Point Person to make sure pillows, blankets, and matts are returned to their right place. Remove any garbage, sweep the floor, and help consolidate misplaced items etc." data-title="Temple Breakdown" class="tt" for="templeBreakdown">Temple Breakdown (<%= templeBreakdown %>)</label>
                    <% } %>

                </div>

                <div class="form-group">
                    <% if(otherJob === 0) { %>
                        <input type="radio" name="jobs" id="otherJob" disabled>
                        <label data-message="Please ONLY choose this if you have first spoken to Dina, Alexandra or Scott. Thanks!" data-title="Pre-Assigned Task" class="tt red" for="otherJob">Pre-Assigned Task* (<%= otherJob %>)</label>
                    <% } else { %>
                        <input type="radio" name="jobs" id="otherJob">
                        <label data-message="Please ONLY choose this if you have first spoken to Dina, Alexandra or Scott. Thanks!" data-title="Pre-Assigned Task" class="tt" for="otherJob">Pre-Assigned Task* (<%= otherJob %>)</label>
                    <% } %>

                </div>


            </div>
        </form>

        <div class="col-xs-12 col-sm-6">

            <p>Please pick an activity to help with. Click on an activity to read a description and press "Next" to confirm. Please arrive by 1pm if you choose an activity marked with an *asterisk. Otherwise aim to arrive no later than 3pm so we can enjoy the land and settle in.</p>

            <p>Try to pick an activity that you resonate with or have some experience with, this is also part of your donation.</p>

            <hr>

            <h4 class="job-title"></h4>
            <p class="job-description"></p>

        </div>
    </div>

    <form>

    </form>

</div>
