<div class="wizard-view">

    <hr>

    <div class="row jobs-grid" style="background-color: rgba(255,188,0,0.6);">

        <form role="form">
            <div class="col-xs-4 col-sm-2">

                <div class="form-group">
                    <div class="form-group">
                        <label for="20.88" data-message='Our sincere thanks! Receive a special and limited edition AFRIKA TEMBO "thank you" postcard.</br>Estimated delivery: November 2015' data-title="" class="tt">$20</label>
                        <input type="radio" name="payTier" id="20.88" value="20.88" class="payTier">
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group">
                        <label for="36.32" data-message='Our sincere thanks! Receive a special and limited edition AFRIKA TEMBO "thank you" postcard.</br>Estimated delivery: November 2015' data-title="" class="tt">$35</label>
                        <input type="radio" name="payTier" id="36.32" value="36.32" class="payTier">
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group">
                        <label for="62.04" data-message='Our sincere thanks! Receive a special and limited edition AFRIKA TEMBO "thank you" postcard + Receive SOUND PILLS with exclusive recordings of East African sounds and music from the expedition.</br>Estimated delivery: November 2015' data-title="" class="tt">$60</label>
                        <input type="radio" name="payTier" id="62.04" value="62.04" class="payTier">
                    </div>
                </div>


            </div>

            <div class="col-xs-4 col-sm-2">

                <div class="form-group">
                    <div class="form-group">
                        <label for="123.78" data-message='Our sincere thanks! Receive a collection of ETHNOGRAPHIC POSTCARDS with pictures and curiosities learned from the expedition + SOUND PILLS with exclusive recordings of East African sounds and music from the expedition.</br>Estimated delivery: November 2015' data-title="" class="tt">$120</label>
                        <input type="radio" name="payTier" id="123.78" value="123.78" class="payTier">
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group">
                        <label for="309.00" data-message='Our sincere thanks! Receive an exclusive 8,5X11’ PHOTOGRAPHIC PRINT + a customized AFRIKA TEMBO T-SHIRT + SOUND PILLS with exclusive recordings of East African sounds and music + a collection of ETHNOGRAPHIC POSTCARDS with pictures and curiosities learned from the expedition.</br>Estimated delivery: November 2015' data-title="" class="tt">$300</label>
                        <input type="radio" name="payTier" id="309.00" value="309.00" class="payTier">
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group">
                        <label for="514.80" data-message='Our sincere thanks! Your name CREDITED on the web series under Special Thanks + Receive TWO exclusive 8,5X11’ PHOTOGRAPHIC PRINTS + a customized AFRIKA TEMBO T-shirt + SOUND PILLS with exclusive recordings of East African sounds and music from the expedition + a collection of ETHNOGRAPHIC POSTCARDS with pictures and curiosities learned from the expedition.</br>Estimated delivery: November 2015' data-title="" class="tt">$500</label>
                        <input type="radio" name="payTier" id="514.80" value="514.80" class="payTier">
                    </div>
                </div>

            </div>


            <div class="col-xs-4 col-sm-2">

                <div class="form-group">
                    <div class="form-group">
                        <label for="823.50" data-message='Your name CREDITED in the "above-the-line" of the web- series + Get an official DVD copy of AFRIKA TEMBO + TWO exclusive 11X17’ PHOTOGRAPHIC PRINTS + customized AFRIKA TEMBO T-SHIRT + SOUND PILLS with exclusive recordings of East African sounds and music from the expedition + a collection of ETHNOGRAPHIC POSTCARD with pictures and curiosities learned from the expedition.</br>Estimated delivery: November 2015' data-title="" class="tt">$800</label>
                        <input type="radio" name="payTier" id="823.50" value="823.50" class="payTier">
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group">
                        <label for="1286.55" data-message="Your contribution will help us not only film the web series, but begin the process of editing and post-production. THANK YOU!</br>You will be featured as one of the an OFFICIAL SUPPORTER of AFRIKA TEMBO! Your name will be CREDITED in the 'above-the-line' in the credits, website, and all promotional and event materials + Receive access to behind the scenes footage as well as the Director's Cut + Get an official DVD copy + AFRIKA TEMBO T-Shirt + SOUND PILLS with exclusive recordings of East African sounds and music + a collection of ETHNOGRAPHIC POSTCARD with pictures and curiosities learned from the expedition + THREE exclusive 11X17’ photographic prints.</br>Estimated delivery: November 2015" data-title="" class="tt">$1250</label>
                        <input type="radio" name="payTier" id="1286.55" value="1286.55" class="payTier">
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group">
                        <label for="2058.30" data-message="Your contribution will help us not only film the web series, but begin the process of editing and post-production. THANK YOU!</br>You will be featured as one OFFICIAL SUPPORTER of AFRIKA TEMBO! Your name will be CREDITED in the 'above-the-line' in the credits, website, and all promotional and event materials + Receive access to behind the scenes footage as well as the Director's Cut + Get an official DVD copy + AFRIKA TEMBO T-Shirt + SOUND PILLS with exclusive recordings of East African sounds and music + a collection of ETHNOGRAPHIC POSTCARD with pictures and curiosities learned from the expedition + FIVE exclusive 11X17’ photographic prints.</br>Estimated delivery: November 2015" data-title="" class="tt">$2000</label>
                        <input type="radio" name="payTier" id="2058.30" value="2058.30" class="payTier">
                    </div>
                </div>


            </div>
        </form>

        <div class="col-xs-12 col-sm-6" style="background-color:rgba(171,69,0,0.6);padding:10px;">

            <p class="job-description">Please choose a donation amount to see the corresponding "Thank you" gift.</p>

        </div>
    </div>

    <form>

    </form>

</div>
