<div class="wizard-view">

    <hr>

    <div class="row" style="background-color: rgba(255,188,0,0.4);">

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 donate-box" style="padding:15px 15px 0 15px;">

             <div class="row" style="padding-bottom:20px;">
                <div class="col-xs-6 col-sm-6 col-md-3" style="padding-right:0;">
                    <div class="form-group">
                        <label for="visa" style="white-space: nowrap;">Visa</label>
                         <input type="radio" name="cards" id="visa" class="cards">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3" style="padding-right:0;">
                    <div class="form-group">
                        <label for="visa" style="white-space: nowrap;">MasterCard</label>
                         <input type="radio" name="cards" id="mastercard" class="cards">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3" style="padding-right:0;">
                    <div class="form-group">
                        <label for="type" style="white-space: nowrap;">AMEX</label>
                         <input type="radio" name="cards" id="amex" class="cards">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3" style="padding-right:0;">
                    <div class="form-group">
                        <label for="type" style="white-space: nowrap;">Discover</label>
                         <input type="radio" name="cards" id="discover" class="cards">
                    </div>
                </div>
            </div>

            <div class="row" style="padding-bottom:20px;">
                <div class="col-xs-6 col-sm-6 col-md-3" style="padding-right:0;">
                    <div class="form-group">
                        <label for="first-name" style="white-space: nowrap;">Cardholder's Name</label>
                        <input type="text" class="form-control" id="first_name" placeholder="First Name">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="last-name" style="white-space: nowrap;opacity:0;">Last name</label>
                        <input type="text" class="form-control" id="last_name" placeholder="Last Name">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-3 col-sm-3 col-md-3" style="padding-left:0;">
                        <div class="form-group">
                            <label for="cc" style="white-space: nowrap;">Card Number</label>
                            <input type="text" class="form-control" id="cc-1" placeholder="0000">
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3" style="padding-left:0;">
                        <div class="form-group">
                            <label for="cc" style="visibility:hidden">.</label>
                            <input type="text" class="form-control" id="cc-2" placeholder="0000">
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3" style="padding-left:0;">
                        <div class="form-group">
                            <label for="cc" style="visibility:hidden">.</label>
                            <input type="text" class="form-control" id="cc-3" placeholder="0000">
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3" style="padding-left:0;">
                        <div class="form-group">
                            <label for="cc" style="visibility:hidden">.</label>
                            <input type="text" class="form-control" id="cc-4" placeholder="0000">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="form-group">
                        <label for="exp" style="white-space: nowrap;">Expiration Date</label>
                        <input type="text" class="form-control" id="exp-month" placeholder="M (1-12)">
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3" style="padding-left:0;">
                    <div class="form-group">
                        <label for="exp" style="visibility:hidden">.</label>
                        <input type="text" class="form-control" id="exp-year" placeholder="YYYY">
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3" style="padding-left:0;">
                    <div class="form-group">
                        <label for="cvv" style="white-space: nowrap;">CVV</label>
                        <input type="text" class="form-control" id="cvv" placeholder="CVV">
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3" style="padding-left:0;">
                    <button id="donate" class="btn btn-primary pull-right" style="margin-top:20px;"><i class="fa fa-heart"></i> Donate</button>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12" style="padding:0">
                    <div id="errors" style="display:none;"></div>
                </div>


            </div>
        </div>


        <div class="col-xs-12 col-sm-4" style="background-color:rgba(171,69,0,0.6);padding:10px;">

            <p class="pay-description">Your credit card information is secured by an SSL (Secure Socket Layer) connection to Paypal, where your donation will be processed (Paypal's processing fee is 2.9% + $0.30).</br></br>
            Your generous support means a lot to us. We’re so grateful to work on this project and have the opportunity to bring it to reality.</p>

        </div>
    </div>


</div>
