<div id="wizard">

    <ol id="wizard-view-tabs" class="bwizard-steps clearfix"></ol>



    <div id="wizard-view-container"></div>


    <!--
    <div id="errors" class="pull-left" style="display:none;"></div>
    -->
    
     <ul class="wizard-pager bwizard-buttons">
        <li class="pull-right btn btn-lg btn-warning li-nextView" role="button" style="margin-right:-15px;margin-left:30px;">
            <a class="btn-nextView" href="#">Next →</a>
        </li>
        <li class="pull-right btn btn-lg btn-warning li-previousView" role="button" style="margin-right:-15px;">
            <a class="btn-previousView" href="#">← Previous</a>
        </li>
    </ul>
 
</div>
