<div id="wizard">

    <ol id="wizard-view-tabs" class="bwizard-steps clearfix"></ol>



    <div id="wizard-view-container"></div>


    <!--
    <div id="errors" class="pull-left" style="display:none;"></div>
    -->
    
<!--     <ul class="wizard-pager bwizard-buttons">
        <li class="pull-right btn btn-primary li-nextView" role="button">
            <a class="btn-nextView" href="#">Next →</a>
        </li>
        <li class="pull-right btn btn-primary li-previousView" role="button">
            <a class="btn-previousView" href="#">← Previous</a>
        </li>
    </ul>
 -->
</div>
